:root {
    --orange: #fca400;
    --gray: #424242;
    --white: #f3f3f3;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);
    margin: 0;
}


/* header */

header {
    color: var(--white);
    background-color: var(--gray);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 8px solid var(--orange);
}

.logo {
    width: auto;
    height: 150px;
    margin: 8px 0;
}

nav {
    display: flex;
}

nav a {
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    padding: 0 20px;
}
nav a:hover {
    color: var(--orange);
    cursor: pointer;
}


/* homepage image */

.hp-image-container {
    margin: 0;
}

.hp-image {
    width: 100%;
    object-fit: cover;
}


/* main */

.h2 {
    color: var(--white);
    background-color: var(--gray);
    font-size: 30px;
    margin: 0;
    padding: 10px;
    border-bottom: 8px solid var(--orange);
}


/* about */

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-h2 {
    width: 100%;
    padding-left: 30px;
}

.about-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image {
    width: auto;
    height: 500px;
    margin: 15px 0;
}

.about-text {
    width: 40%;
    font-size: 18px;
    margin-left: 25px;
}


/* services */

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-container {
    position: relative;
    text-align: center;
    margin: 10px;
}

.service-h3 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;

    width: 50%;
    background-color: var(--gray);
    border-bottom: 4px solid var(--orange);
    border-radius: 5px;
}

.service-text {
    font-size: 25px;
    color: white;
    text-decoration: none;
}
.service-text:hover {
    color: var(--orange);
}

.services-images {
    display: block;
    height: 450px;
    width: 700px;
}


/* testimonials */

.tests {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test-container {
    width: 70%;
}


/* contact */

.form {
    width: 50%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

  /* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: var(--orange);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

  /* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #ffba39;
}

  /* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}